* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

#threejs {
    width: 100%;
    height: 500vh;
    z-index: 1;
}

.cube {
    position: fixed;
    z-index: 100;
    background-color: #eb2a2a;
    height: 30px;
    width: 30px;
}

#cube1 {

    right: 10px;
    bottom: 90px;
}

#cube2 {

    right: 40px;
    bottom: 120px;
}

#cube3 {

    right: 70px;
    bottom: 90px;
}

#cube4 {

    right: 40px;
    bottom: 60px;
}
#cube5 {
    background-color: #FFFFFF;
    right: 40px;
    bottom: 90px;
}

.move {
    position: fixed;
    z-index: 100;
    background-color: #eb2a2a;
    height: 90px;
    width: 50px;
    bottom: 60px;
}

#move1 {

    left: 10px;

}

#move2 {

    left: 70px;

}